{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": ["error", { "allow": ["log"] } ],
    "no-var": "off",
    "prefer-rest-params": "off",
    "prefer-spread": "off",
    "func-names": ["error", "never"]
  }
}
